
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #68dff0;
    color: #fff;
}
::-moz-selection {
    background: #68dff0;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}




/*Helpers*/

.centered {
	text-align: center;
}

.goleft {
	text-align: left;
}

.goright {
	text-align: right;
}

.mt {
	margin-top: 25px;
}

.mb {
	margin-bottom: 25px;
}

.ml {
	margin-left: 5px;
	}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}



/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
}

#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background: url("../img/nav-expand.png") no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.active .dcjq-icon {
    background: url("../img/nav-expand.png") no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
/*---*/

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}



/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 220px;
}

.header {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #424a5d;
    border-bottom: 1px solid #c9aa5f;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 0px;
}

a.logo {
    font-size: 20px;
    color: #ffffff;
    float: right;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #68dff0;
}




.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    left: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}

.notify-arrow-yellow {
    border-color: transparent transparent #FCB322;
    border-bottom-color: #FCB322 !important;
    border-top-color: #FCB322 !important;
}
.notify-arrow-green {
    border-color: transparent transparent #68dff0;
    border-bottom-color: #68dff0 !important;
    border-top-color: #68dff0 !important;
}



/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
    margin-left: 45px;
    color: white;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}




/* MAIN CHART CONFIGURATION */


.custom-bar-chart {
    height: 290px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    border-bottom: 1px solid #c9cdd7;
}

.custom-bar-chart .bar {
    height: 100%;
    position: relative;
    width: 6%;
    margin: 0px 4%;
    float: left;
    text-align: center;
    z-index: 10;
}

.custom-bar-chart .bar .title {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.custom-bar-chart .bar .value {
    position: absolute;
    bottom: 0;
    background: #ff865c;
    color: #68dff0;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}



.custom-bar-chart .bar .value:hover {
    background: #2f2f2f;
    color: #fff;
}

.y-axis {
    color: #555555;
    position: absolute;
    text-align: left;
    width: 100%;
    font-size: 11px;
}

.y-axis li {
    border-top: 1px dashed #dbdce0;
    display: block;
    height: 58px;
    width: 100%;
}

.y-axis li:last-child {
    border-top: none;
}

.y-axis li span {
    display: block;
    margin: -10px 0 0 -60px;
    padding: 0 10px;
    width: 40px;
}




/**********************************************/
/*********SELECTORS PAGE SECTION BEGIN ********/
/**********************************************/

#teamTable {
    font-size: 14px;
    text-align: center;
}

#teamTable th {
    text-align: center;
}

#Lakers .lakersLogo {
    height: 75px;
    width: 75px;
    background: url(../images/lakers.jpg) no-repeat;

    background-size: 95% 95%;
    background-position: center center;

}


#Celtics .celticsLogo {
    height: 75px;
    width: 75px;
    background: url(../images/celtics.jpg) no-repeat;
    background-size: 95% 95%;
    background-position: center center;

}

#Clippers .clippersLogo {
    height: 75px;
    width: 75px;
    background: url(../images/clippers.jpg) no-repeat;
    background-size: 95% 95%;
    background-position: center center;

}

#Rockets .rocketsLogo {
    height: 75px;
    width: 75px;
    background: url(../images/rockets.jpg) no-repeat;
    background-size: 95% 95%;
    background-position: center center;

}

#Bulls .bullsLogo {
    height: 75px;
    width: 75px;
    background: url(../images/bulls.jpg) no-repeat;
    background-size: 95% 95%;
    background-position: center center;

}
    
/*********SELECTORS END ********/





.selected {
    background-color: #d48e8c !important;
}




/*********SELECTION INPUT********/

.popover{
    color: black;
}



.mainLogo {
    max-width: 90%;
    height: auto;
}


/**********************************************/
/*********SELECTORS PAGE SECTION END ********/
/**********************************************/


/****************************************************************************************/



/**********************************************/
/*********ATTRIBUTES PAGE SECTION BEGIN ********/
/**********************************************/

/*--------------------------------------------------
----------------------- Base styles ----------------
---------------------------------------------------*/

@media (min-width: 1200px) {
    .container {
        width: 1130px !important;
    }
}

#preloader {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999;
}

#spinner {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    background: url(../images/spinner.GIF) no-repeat;
}
#portfolio .mCSB_container { 
    margin-right: 0 !important; 
}

#custumize-style {
    display: none;
}
label {
    font-weight: 400 !important;
}
.text-left {
    text-align: left !important;
}
.clear {
    clear: both;
}
ul, li, nav {
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
    overflow-x: hidden;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}



a {
    text-decoration: none !important;
}




@media only screen and (max-width: 767px) {


    .widget-profil {
        margin-left: 10px;
        margin-right: 10px;
    }

}


/* #Clearing */
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/*--------------------------------------------------
---------------------- Title  ---------------------
---------------------------------------------------*/
.title_content {
    display: inline-block;
    font-size: 20px;
    color: #333333;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.text_content {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 5px;
}

ul.about li span.value {
    display: block;
    margin: 0;
}
ul.about li {
    margin: 0;
    margin-bottom: 5%;
    color: #717171;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;
}

ul.about li:last-child {
    border-bottom: none;
}
ul.about {
    margin-bottom: 30px;
}


/*--------------------------------------------------
------------------- porfil-widget --------------------
---------------------------------------------------*/

.widget-profil{
    height: auto;   
    float: right; 
}
.widget-profil .circle {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
}

.widget-profil .circle-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    background-image: url('http://placehold.it/150x150');
    margin-top: 25px;
    margin-bottom: 7px;
}

.widget-profil  h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 400;

}

.widget-profil  h4 {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;  

}
.widget-profil  h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}

.widget-profil  p {
    border-left: 0px;
}

.widget-profil #profile_desc
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.widget-profil #profile_info
{
    padding-bottom: 15px;
}


.widget-profil .image-holder{
    position: relative;
    margin: 15px auto;
    width: 150px;
    height: 150px;
}

.widget-profil .head-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.widget-profil  .head-image{
    z-index: 0;
}
.widget-profil  .front{
    z-index: 1;
}

@media only screen and (min-width: 1200px) {

    .widget-profil #profile_social a{ 
        width: 45px;    
        height: 45px;   
        line-height: 45px;  
        font-size: 24px;    
    }
    .widget-profil h1 {
        font-size: 25px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 1199px) {


    .widget-profil h1 {
        font-size: 24px;
        line-height: 50px;
    }

}

@media only screen and (max-width: 260px) {
    .widget-profil h1 {
        font-size: 25px !important;
        line-height: 39px !important;
    }

    .widget-profil h4 {
        font-size: 13px !important;
    }

    .widget-profil{     
        height: 265px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }
}

@media only screen  and (max-width: 766px) {
    .widget-profil{     
        height: 285px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }

    .widget-profil h1 {
        font-size: 22px !important;
        line-height: 39px !important;
    }

    .widget-profil h4 {
        font-size: 13px !important;
    }
}

@media only screen and (min-width : 766px) and (max-width: 800px) {
    .widget-profil{     
        height: 210px !important;
        margin-bottom: 20px;
        float: none;
    }

}


@media only screen and (min-width : 800px) and (max-width : 991px) {

    .widget-profil{     
        height: 210px !important;   
        margin-bottom: 20px;
        float: none;
    }

    #profile_desc {
        border-bottom: 0 !important;
    }
}


/*--------------------------------------------------
---------------------- All Media -------------------
---------------------------------------------------*/

@media screen and (max-width: 240px) {


    .title_content:after {
        width: 155px;
    }

    ul.about li {
        padding-left: 2px;
        font-size: 9px;
    }

    p {
        font-size: 12px;
    }

    .panel-title {
        font-size: 13px;
    }
    .text_content {
        font-size: 13px;
    }

    h5, .h5 {
        font-size: 9px !important;
    }

}

@media screen and (max-width: 320px) {

    ul.about li {
        font-size: 11px;
        margin:0;
    }
    ul.about li span.value {
        float: right;
    }
    .text_content {
        font-size: 12px;
    }


    .text_content {
        font-size: 10px;
        padding-top: 0;
        margin-top: 0;
    }

}

@media screen and (max-width: 384px) {


    ul.about li {
        font-size: 11px;
        margin-bottom: 2%;
    }
    ul.about li span.value {
        float: right;
    }
    .text_content {
        font-size: 12px;
    }


}


@media screen and (max-width: 554px) {
    ul.about li {
        font-size: 11px;
        margin-bottom: 2%;
    }
    ul.about li span.value {
        float: right;
    }
    .text_content {
        font-size: 12px;
    }
   

}

@media screen and (max-width: 1200px) {

    ul.about li span.value {
        display: block;
        width: 100%;
    }
}


/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 {
    .dropdown { z-index: 1; }
.dropdown-select { z-index: -1; }
.dropdown-select:focus { z-index: 3; }
}



li h6{
    font-size: 13px;
}
.panel{
    border:none !important; 
}


.mCSB_container {
width: auto;
margin-right: 30px;
overflow: hidden;
padding: 15px;
}


.player-content div{
    margin-left: 5%; 
}

.container-fluid {
    margin: 0 auto 0 auto;
}

/**********************************************/
/*********ATTRIBUTES PAGE SECTION END ********/
/**********************************************/


.targetedSelection {
    background: red; 
}








/**********************************************/
/*********CONTENT PAGE SECTION END ********/
/**********************************************/

.scoutTxt{
    padding-left: 5%;
}

textarea#scoutTxtContent {
    width: 100%;
}